<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}! this is APPComponnnt Page and parent String {{parentString}}
  </h1>
<h2>Here are some links to help you start: </h2> 
</div>


<div height="10%" width="100%">
    <router-outlet name="upperbar"></router-outlet>
</div>
<div width="100%">
<router-outlet></router-outlet>
</div>
<div height="10%" width="100%">
<router-outlet name="footerbar"></router-outlet>
</div>
<div style="border: blue;display:block;background-color: green">
    <app-product-detail [toChildString]="parentString"></app-product-detail>
</div>