    <div class="container">
        <div class="row">

            <div class="col-lg-3">
                <div class="customDiv">
                    <p>Ganesh Bhisi Started</p>

                        <div class="card bg-info ">
                          <div class="container">
                            <div class="card-title">
                              <div>
                                <img src="../../assets/image/Penguins.jpg" class="img-thumbnail img-fluid mt-1"  /><br>
                                <h5 class="card-title">Co-Ordinator</h5>
                              </div>
                            </div>
                            <div class="card-body">
                              <div>
                                <p class="card-text">Text</p>
                                <a href="#" class="card-link">Link 1</a>
                                <a href="#" class="card-link">Link 2</a>
                              </div>
                            </div>
                          </div>
                        </div>

                </div>
            </div>
            <div class="col-lg-9">
              <div class="row">
              <!--<div class="customDiv">-->
                  <div class="card col-lg-4">

                      <div class="card-header">

                        <div class="row">

                          <div class="col-lg-6">

                              <img src="../../assets/image/Penguins.jpg" class="img-thumbnail img-fluid" />

                          </div>

                          <div class="col-lg-6">

                              <h4>IFEL</h4>
                           </div>

                        </div>
                      </div>
                      <!--card ttle-->
                        <div class="card-body">
                          <p class="card-text">Text</p>
                          <a href="#" class="card-link">Link 1</a>
                          <a href="#" class="card-link">Link 2</a>
                        </div>

                    </div><!--Card end -->
                    <div class="card col-lg-4">

                        <div class="card-header">

                          <div class="row">

                            <div class="col-lg-6">

                                <img src="../../assets/image/Penguins.jpg" class="img-thumbnail img-fluid" />

                            </div>

                            <div class="col-lg-6">

                                <h4>IFEL</h4>
                             </div>

                          </div>
                        </div>
                        <!--card ttle-->
                          <div class="card-body">
                            <p class="card-text">Text</p>
                            <a href="#" class="card-link">Link 1</a>
                            <a href="#" class="card-link">Link 2</a>
                          </div>

                      </div><!--Card end -->
                  <div class="card col-lg-4">

                      <div class="card-header">

                        <div class="row">

                          <div class="col-lg-6">

                              <img src="../../assets/image/Penguins.jpg" class="img-thumbnail img-fluid" />

                          </div>

                          <div class="col-lg-6">

                              <h4>IFEL</h4>
                           </div>

                        </div>
                      </div>
                      <!--card ttle-->
                        <div class="card-body">
                          <p class="card-text">Text</p>
                          <a href="#" class="card-link">Link 1</a>
                          <a href="#" class="card-link">Link 2</a>
                        </div>

                    </div>
                    <div class="card col-lg-4">

                      <div class="card-header">

                        <div class="row">

                          <div class="col-lg-6">

                              <img src="../../assets/image/Penguins.jpg" class="img-thumbnail img-fluid"/>

                          </div>

                          <div class="col-lg-6">

                              <h4>IFEL</h4>
                           </div>

                        </div>
                      </div>
                      <!--card ttle-->
                        <div class="card-body">
                          <p class="card-text">Text</p>
                          <a href="#" class="card-link">Link 1</a>
                          <a href="#" class="card-link">Link 2</a>
                        </div>
                      </div> <!--</div>-->

                 </div> <!--row-->
            </div>
        </div>
        <input type="button" value="back" (click)="sendBack()" />
    </div>

